@model Freelancer.Models.Client

@{
    ViewData["Title"] = "Delete";
}


<h1>Suprimer un client</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce client?</h3>
<div>
    <p>
        <span class="entete">
            @Html.DisplayNameFor(model => model.Nom)
            :
        </span>
        <span>
            @Html.DisplayFor(model => model.Nom)

        </span>
    </p>

    <p>
        <span class="entete">
            @Html.DisplayNameFor(model => model.Email)
            :
        </span>
        @Html.DisplayFor(model => model.Email)
    </p>

    <p>
        <span class="entete">
            @Html.DisplayNameFor(model => model.CategorieClientId)
            :
        </span>
        @Html.DisplayFor(model => model.Categorie.Nom)
    </p>

    <form asp-action="Delete" class="form-footer">
        <input type="hidden" asp-for="ClientId" />

        <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash-o"></i>Supprimer</button>
       
    </form>
    <div>
        <a asp-action="Index">Retour à la liste des clients</a>
    </div>

</div>

