@model Freelancer.Models.Client

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Nom)

        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Email)

        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.CategorieClientId)

        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Categorie.Nom)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Modifier</a> |
    <a asp-action="Index">Retour à la liste des clients</a>
</div>
<div>
    <a href="#" onclick="history.go(-1);">Retour</a>
</div>
