@model Freelancer.Models.Mission

@{
    ViewData["Title"] = "Details de la mission";
}

<h1>Details de la mission</h1>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Debut)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Debut)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Fin)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Fin)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class="col-sm-4">
            @Html.ActionLink(Model.Client.Nom, "Details", "Clients", new { id = Model.ClientId }, null)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MissionId">Modifier</a> |
    <a asp-action="Index">Retour à la liste des missions</a>
</div>
<div>
    <a href="#" onclick="history.go(-1);">Retour</a>
</div>