@model Freelancer.Models.CategorieClient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Catégorie de client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategorieId">Modifier</a> |
    <a asp-action="Index">Retour à la liste des catégories de client</a>
</div>
<div>
    <a href="#" onclick="history.go(-1);">Retour</a>
</div>

