@model IEnumerable<IGrouping<int, Freelancer.Models.Client>>

@{
    ViewData["Title"] = "Facture par client";
}

<table class="tableaux">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().First().Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().First().Email)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First().Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First().Email)
                </td>
                <td>
                    <a asp-action="Facture" asp-route-id="@item.First().ClientId">Facture Globale</a>
                </td>
            </tr>
        }

    </tbody>
</table>

