@model IEnumerable<Freelancer.Models.Devis>

@{
    ViewData["Title"] = "Devis et factures - index";
}

<h1>Gestion des devis et factures</h1>

<p>@ViewData["lastDevisCreateUpdate"]</p>
@*<a asp-action="Create" class="btn-ajout"><i class="fa fa-plus"></i> Ajouter un nouveau devis</a>*@

<a asp-action="Clients" class="btn-ajout">Factures par client</a>


<h2>Devis enregistrés</h2>

<table class="table tableaux">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EtatDevis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevisDateFinale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontantFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MissionId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EtatDevis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                    <a asp-action="Details" asp-route-id="@item.DevisId"><i class="fa fa-info-circle"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Montant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DevisDateFinale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontantFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MissionId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DevisId"><i class="fa fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.DevisId"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


