@model Freelance.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
        <p>
            <span class="entete">
            @Html.DisplayNameFor(model => model.Nom)
                :
            </span>
            <span>
        @Html.DisplayFor(model => model.Nom)

            </span>
        </p>
        <p>
            <span class="entete">
            @Html.DisplayNameFor(model => model.Email)
                :
            </span>

        @Html.DisplayFor(model => model.Email)
        </p>
</div>
<div class="form-footer">
    <a asp-action="Edit" asp-route-id="@Model.ClientId" class="action"><i class="fas fa-edit"></i>Editer</a>
    <a asp-action="Index" class="action"><i class="fas fa-chevron-left"></i>Retour</a>
</div>
